/**
 * @name Mirage-Theme
 * @author Slt8ky
 * @description Mirage-Theme
 * @version 0.0.1
 */

@import url('https://fonts.googleapis.com/css2?family=LXGW+WenKai+TC&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
    --title: "Mirage Theme V1";
    --blur: 10px;
    --brightness: 40%;
    --background: url(https://i.ibb.co/C5xSzQZk/bg.jpg);
    --loadinglogo: url(https://i.ibb.co/WvMrbWRK/Waifu-PNG-Image.png);
    --color: rgb(230, 147, 255);
    --loadingtime: 6s;
    --primary: rgb(85, 190, 255);
}

* {
    border: unset !important;
    background-color: transparent !important;
    box-shadow: unset !important;
    font-family: "Nunito", "LXGW WenKai TC", cursive !important;
}

::after, ::before {
    display: none;
}

::placeholder {
    color: white !important;
}

body {
    background-image: var(--background) !important;
    background-position: center !important;
    background-size: cover !important;
}

.app_a3002d {
    visibility: hidden;
}

.app__160d8, .characterBackground_eb4069 {
    visibility: visible;
}

.spriteGreyscale__04eed {
    background-color: var(--interactive-normal) !important;
}

.transition_c8dbe9 {
    transition: .3s;
}

.border_f910d0 {
    backdrop-filter: brightness(70%);
}

.callAvatarMaskContainer_f910d0 > div {
    transition: .2s;
}

.callAvatarMaskContainer_f910d0:has(.speaking_f910d0) > div {
    box-shadow: inset 0 0 0 1px rgb(253, 209, 255), 0 0 10px rgb(253, 209, 255) !important;
    backdrop-filter: brightness(100%);
}

.tile_d6271c, .wrapper__48b20 {
    border-radius: 20px !important;
    transition: .2s;
}

.tile_d6271c:has(.speaking__2f4f7) {
    box-shadow: inset 0 0 0 1px rgb(253, 209, 255), 0 0 10px rgb(253, 209, 255) !important;
}

.experimentWrapper__1405b > div {
    background-color: rgba(0, 0, 0, 0.361) !important;
    border-radius: 15px;
}

.focusLock__49fc1,.content__2f4f7 {
    border-radius: 15px;
}

.attachedCaretButtonContainer_f1ceac > div {
    transition: .3s;
    border-radius: 15px;
}

.attachedCaretButtonContainer_f1ceac > div:hover, .authBox__921c5, .pictureInPictureWindow__6341f, .carouselModal_d3a6f0, .tile_d6271c {
    background-color: rgba(0, 0, 0, 0.361) !important;
}

.carouselModal_d3a6f0 {
    backdrop-filter: blur(2px) !important;
    box-shadow: 0 0 16px black !important;
}

.pictureInPictureWindow__6341f {
    backdrop-filter: blur(10px) !important;
    box-shadow: 0 0 16px black !important;
}

.authBox__921c5 {
    border-radius: 20px !important;
}

.tile_d6271c {
    backdrop-filter: blur(10px) !important;
}

.grabber_a562c8 {
    background-color: rgb(255, 255, 255) !important;
}

.barFill_a562c8 {
    background-color: rgba(255, 255, 255, 0.361) !important;
}

.sourceScroller_a2de16 {
    background-color: unset !important;
}

.pictureInPicture__6341f {
    z-index: 2000;
}

.codeContainer__75297, .nonVisualMediaItemContainer_f4758a, .gridContainer__623de, .content__49fc1 {
    border-radius: 6px;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.652), inset 0 0 0 1px rgb(44, 44, 44) !important;
    background-color: rgba(255, 255, 255, 0.034) !important;
    padding: 10px;
    margin-bottom: 10px;
}

.channelTextArea_f75fb0 {
    margin: 0px;
}

.button_fb7f94 {
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.652), inset 0 0 0 1px rgb(44, 44, 44) !important;
    background-color: rgba(255, 255, 255, 0.034) !important;
}

.messagesWrapper__36d07 {
    border-radius: 10px !important;
    margin: 8px 10px 10px;
}

.toolbar__9293f {
    border-radius: 6px;
}a

.searchBar__97492 {
    align-items: center !important;
}

div[class*=guildNameText] {
    background-color: red !important;
}

.containerDefault_c69b6d, .member__5d473, .container_e45859, .peopleListItem_cc6179 {
    transition: .2s !important;
}

.containerDefault_c69b6d:hover, .member__5d473:hover, .container_e45859:hover, .peopleListItem_cc6179:hover {
    transform: translateY(-3px);
}

.item__58105  {
    background-color: rgb(255, 255, 255) !important;
}

.blockquoteDivider__75297 {
    background-color: rgb(247, 214, 255) !important;
    box-shadow: 0 0 3px rgb(249, 226, 255) !important;
}

.messageListItem__5126c ::-webkit-scrollbar-thumb, .messageListItem__5126c ::-webkit-scrollbar-thumb:hover {
    cursor: ew-resize;
    background-color: rgb(247, 214, 255) !important;
    box-shadow: 0 0 3px rgb(249, 226, 255) !important;
}

.sidebar_c48ade {
    display: grid !important;
    grid-template-rows: 1fr auto !important;
    grid-template-columns: auto 1fr !important;
    grid-template-areas: 
    "a b"
    "c c";
    padding: 10px;
    gap: 20px;
}

.wrapper_ef3116 {
    grid-area: a !important;
}   

.sidebarList_c48ade {
    grid-area: b !important;
    width: 100% !important;
}

.container__2637a {
    padding: 0 !important;
    margin: 0 !important;
}

.panels_c48ade {
    grid-area: c !important;
    padding: 10px;
}

.panels_c48ade {
    position: unset !important;
    display: flex;
    flex-direction: column;
    width: 100% !important;
}

.wrapper_ef3116, .scroller__99e7c {
    margin: 0 !important;
}

.scroller__629e4 {
    padding: 0 !important;
    margin: 0 !important;
    overflow-y: scroll;
}

.messagesWrapper__36d07  {
    margin: 0px;
}

.videoControls_bfe55a {
    padding: 0;
}

.videoControls_bfe55a {
    padding: 10px 10px;
}

.resizeHandle__4b144 {
    bottom: -13px;
}

.content_f75fb0 {
    gap: 20px;
}

.headerWrapper_cb9592 {
    margin: 0;
}

.chatContent_f75fb0 {
    gap: 20px;
}

.itemsContainer_ef3116 {
    display: flex !important;
    align-items: start !important;
    height: 100% !important;
    flex-direction: unset !important;
}

.tree_ef3116 {
    padding-top: 15px;
    overflow: hidden;
    overflow-y: scroll;
}

.tree_ef3116::-webkit-scrollbar {
    width: 0px;
}

.body__24502 {
    padding: 10px;
}

.nowPlayingColumn__133bf {
    display: none;
}

.innerWrapperV1__70f7f {
    background-color: rgba(255, 255, 255, 0.034) !important;
}

.container__133bf {
    gap: 20px;
    padding: 10px;
}

.container__9293f {
    padding: 0px !important;
}

.chat_f75fb0 {
    gap: 20px;
    padding: 10px;
}
 
div[class*=gradient] {
    visibility: hidden;
}

.backdrop__78332 {
    backdrop-filter: unset !important;
}

.outer_c0bea0, .inner_c0bea0 {
    background: unset !important;
    border: unset !important;
    box-shadow: unset !important;
}

.focusLock__49fc1 *, .layer_da8173 * {
    color: white !important;
}

.root__24502, .outer_c0bea0 {
    border-radius: 10px !important;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.652), inset 0 0 0 1px rgb(44, 44, 44) !important;
    background: linear-gradient(170deg, #ffffff11, rgba(0, 0, 0, 0.238), #0009) !important;
    background-size: 100% 250%;
    backdrop-filter: blur(30px);
}

.banner__68edb {
    border-radius: 10px !important;
}


.form_f75fb0 {
    min-height: 76px;
    display: flex;
    align-items: center;
}

.channelBottomBarArea_f75fb0 {
    width: 100%;
}

div[class*=menu_c1e9c4] {
    border-radius: 10px !important;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.652), inset 0 0 0 1px rgb(44, 44, 44) !important;
    background: linear-gradient(170deg, #ffffff11, rgba(0, 0, 0, 0.238), #0009) !important;
}

.name__703b9 {
    background: linear-gradient(to right, var(--color), rgb(248 214 174), var(--color));
    background-clip: text;
    color: transparent;
    text-shadow: 0 0 3px rgba(250, 164, 255, 0.46);
}

.member__5d473:hover .name__703b9 {
    background-size: 200%;
    animation: gradientText 1.5s linear infinite
}

.visual-refresh .containerQuestBarVisible__37e49, .visual-refresh .containerRtcOpened__37e49 {
    border-radius: 10px !important;
}

.base_c48ade::before, .base_c48ade::after {
    background: linear-gradient(to right, var(--color), rgb(248 214 174), var(--color));
    background-clip: text;
    color: transparent;
    display: block;
    position: absolute;
    content: var(--title);
    background-size: 200%;
    top: 15px;
    left: 15px;
    animation: gradientText 2.5s linear infinite
}

@keyframes gradientText {
    0% {
        background-position: 0%
    }
    50% {
        background-position: 100%
    }
    0% {
        background-position: 200%
    }
}

.base_c48ade::after {
    filter: blur(3px);
}

.guildSidebar_f75fb0 {
    padding: 10px;
    overflow: hidden;
}

.selected_c69b6d {
    position: relative;
}

.selected_c69b6d::after {
    display: block;
    position: absolute;
    width: 4px;
    height: 1.4em;
    top: 50%;
    left: 6px;
    transform: translateY(-50%);

    background: white !important;
    border-radius: 10px;
    box-shadow: 0 0 3px white;

    content: "";
}

.content__07f91 {
    position: relative;
}

.content__07f91::after {
    display: block;
    position: absolute;
    left: 0;
    width: 3px;
    height: 0px;
    opacity: 0;
    transform: translatY(-50%);
    background: rgb(111, 215, 111);
    box-shadow: 0 0 4px rgb(40, 255, 40);
    content: "";
    transition: .2s ease-in-out;
}

.usernameSpeaking__07f91 {
    transition: .2s ease-in-out;
}

.content__07f91:has(.avatarSpeaking__07f91)::after {
    height: 15px;
}

.content__07f91:has(.avatarSpeaking__07f91)::after, .usernameSpeaking__07f91 {
    text-shadow: 0 0 3px white;
    opacity: 1;
}

.scrollerInner__36d07 {
    animation: fade-in .7s;
}

.wrapper_ef3116, .sidebarList_c48ade, .biteSize_c0bea0, .wrapper_cb9592, .tabBody__133bf, .container_c8ffbb, .messagesWrapper__36d07, .form_f75fb0, .panels_c48ade, .upperContainer__9293f {
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.652), inset 0 0 0 1px rgb(44, 44, 44) !important;
    background: linear-gradient(170deg, #e562af21, rgba(21, 26, 46, 0.524)) !important;
    border-radius: 10px;
    backdrop-filter: blur(var(--blur)) !important;
}

body::after, body::before {
    display: block;
    position: absolute;
    visibility: hidden;
    box-shadow: 0 0 10px var(--color);
    text-shadow: 0 0 5px var(--color);
}

body::after {
    --posx: 50%;
    --posy: 30%;
    inset: 0;
    z-index: 150;


    background: rgb(16, 16, 16) var(--loadinglogo) var(--posx) var(--posy) no-repeat !important;
    filter: drop-shadow(0 0 0.75rem crimson);
    color: rgb(249, 213, 255);

    content: "Loading Theme...";
    font-size: 18px;
    text-align: center;
    line-height: 100vh;
    letter-spacing: 3px;

    animation: fadeout calc(var(--loadingtime)) 1s ease-in-out;
}

body::before {
    --width: 15em;

    width: 0px;
    height: 4px;
    top: 53%;
    left: calc(50% - (var(--width) / 2));
    z-index: 160;
    
    opacity: 0;
    background: linear-gradient(to right, var(--color), rgb(248 214 174), var(--color)) !important;
    background-size: 250px !important;
    background-attachment: fixed !important;

    border-radius: 10px;

    content: "";
    
    animation: 
        loadingbar var(--loadingtime) 1s ease-in-out
        /* fadeout 2s 1s ease-out; */
}

.callAvatarMaskContainer_f910d0 {
    .svg__2338f {
        filter: brightness(70%);
        transition: filter .2s !important;
    }
    .border_f910d0 {
        transition: box-shadow .2s !important;
    }

    &:has(.speaking_f910d0) {
        .svg__2338f {
            filter: brightness(100%);
        }
        .border_f910d0 {
            box-shadow: 0 0 1px 1px var(--primary), 0 0 10px var(--primary) !important;
        }
    }
}

@keyframes loadingbar {
    0% {
        visibility: visible;
    }
    50% {
        opacity: 1;
        width: var(--width);
    }
    60%, 100% {
        opacity: 0;
        width: var(--width);
    }
}

@keyframes fadeout {
    0% {
        visibility: visible;
    }
    60% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.base_c48ade {
    animation: fade-in calc(var(--loadingtime) + 3s) !important;
}

@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateY(-2500px);
    }
    50% {
        transform: translateY(0px);
    }
}
